*{

	font-size:1em;

}



#logo{

	background-image:url(../img/logo.jpg);
	background-repeat: no-repeat;
 	width: 300px;
  	height: 158px;
	display:block;
	background-size: auto 100%;
	margin:auto;

}


h1{
	font-size:1.563em;

}


tr, td{
	border: 1px solid black;
}


