*{

	font-size:1em;

}



#logo{

	background-image:url(../img/logo.jpg);
	background-repeat: no-repeat;
 	width: 300px;
  	height: 158px;
	display:block;
	background-size: auto 100%;
	margin:auto;

}


h1{
	font-size:1.563em;

}

table{
	border-collapse: collapse;
}

td,th{
	border: 1px solid black;
}

th{
	background-color:grey;
}



@media(max-width:600px){
	
	table{
		display:inline;
	}

}
